body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #19192d;
}

.container {
  margin: 150px auto;
  max-width: 500px;
  background-color: #1f2937;
  color: #f6f7f9;
  letter-spacing: normal;
  padding: 50px;
  border-radius: 20px;
}

.container h1 {
  color: rgb(254, 205, 211);
  font-size: 31px;
  line-height: 39px;
  font-weight: 400px;
  font-family: "Press Start 2P", cursive;
}

.container p:last-child {
  text-align: left;
}

.container p {
  color: rgb(253, 164, 175);
  font-weight: 400px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 576px) {
  .container {
    min-width: 400px;
    margin: 50px 40px;
    padding: 30px;
    text-align: center;
  }

  h1 {
    letter-spacing: 2px;
  }
}
