body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #0f172b;
}

.container {
  width: 650px;
  margin: 50px auto;
  background-color: #1f293a;
  padding: 30px;
  border-radius: 30px;
  position: relative;
}

.container .penulis {
  display: flex;
  width: 30%;
  margin-top: 100px;
  box-sizing: border-box;
  background-color: #0c9488;
  justify-content: space-evenly;
  position: absolute;
  top: -90px;
  left: -10px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: rgb(203, 213, 225);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header h1.judul {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  color: rgb(203, 213, 225);
  font-weight: 900;
  font-style: normal;
  font-size: 48px;
  line-height: 48px;
  margin-top: 50px;
}

.container .penulis p {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 576px) {
  .container {
    width: 400px;
  }

  .container .penulis {
    width: 45%;
  }
}
